@import "../../global-styles/common.scss";

.blogWrapper {
    width: 80%;
    margin: 30px auto;
    min-height: 60vh;

    .spinner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (orientation: landscape) {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width:map-get($breakpoints, xlarge)) {
        width: 75%;
    }
}