@import "../../global-styles/common.scss";

// @keyframes contentShow {
//     0% {
//         opacity: 0;
//         top: 60%;
//     }

//     20% {
//         opacity: 0;
//         top: 60%;
//     }

//     40% {
//         opacity: 1;
//         top: 40%;
//     }

//     95% {
//         opacity: 1;
//         top: 40%;
//     }

//     100% {
//         opacity: 0;
//         top: 60%;
//     }

// }

.wrapper {
    position: relative;
    width: 100%;
    height: 35vh;
    overflow: hidden;

    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 3s;
        opacity: 0;

        .content {
            position: absolute;
            left: 10%;
            top: 60%;
            // opacity: 0;
            transition: 3s;

            // animation: contentShow 7s infinite;

            p {
                color: $greyLight;
                font-weight: 700;
                font-size: $sizeXXL;
                text-shadow: 4px 4px $greyDarness;
            }

        }



    }


    a {
        position: absolute;
        bottom: 7%;
        right: 5%;
        text-decoration: none;
        color: $greyLight;
        font-weight: 700;
        font-size: $sizeXS;
        background-color: black;
        padding: 5px 15px;
        opacity: 0.8;
        border-radius: $radius;

    }

    // .dots {
    //     position: absolute;
    //     display: flex;
    //     justify-content: space-around;
    //     align-items: center;
    //     top: 90%;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: 50%;
    //     height: 10%;


    //     .dot {
    //         width: 10px;
    //         border: 2px solid $firstColor;
    //         height: 10px;
    //         background-color: $secondColor;
    //         border-radius: $box-radius;
    //         transition: 3s;
    //         cursor: pointer;
    //     }
    // }

    @media screen and (min-width:map-get($breakpoints, medium)) {
        .image {
            .content {
                p {
                    font-size: $sizeXXXL;
                }
            }
        }

        a {

            font-size: $sizeS;

        }

        // .dots {
        //     width: 30%;
        //     height: 10%;

        //     .dot {
        //         width: 15px;
        //         height: 15px;
        //     }
        // }
    }

    @media screen and (min-width:map-get($breakpoints, large)) {
        .image {
            .content {
                p {
                    font-size: $sizeXXXL*2;
                }
            }
        }

        a {

            bottom: 7%;
            font-size: $sizeL;
            transition: $transition;

            &:hover {
                background-color: white;
                color: black;
            }

        }
    }

    @media screen and (min-width:map-get($breakpoints, xlarge)) {
        .image {
            .content {
                p {
                    font-size: $sizeXXXL*2.5;
                }
            }
        }

        .dots {
            width: 20%;


        }
    }

}