@import "../../global-styles/common.scss";

.wrapper {
    width: 100%;
    min-height: 40vh;

    .banner {
        width: 100%;
        height: 30vh;
        background-image: url("../../assets/images/reservation-page/buick-classic-cars-3431909_640.jpg");
        background-size: cover;
        background-position: center;

        h1 {
            background-color: rgba(0, 0, 0, 0.5);
            text-align: center;
            color: $greyLight;
            text-transform: uppercase;
        }
    }

    .infoConetnt {
        width: 90%;
        margin: 20px auto;

        .content1,
        .content2 {
            margin-bottom: 30px;

            h3 {
                color: $blueNormal;
                margin-bottom: 10px;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                li {
                    font-size: $sizeXXS;
                    margin-bottom: 10px;
                    margin-left: 20px;
                }

            }

            p {
                font-size: $sizeXXS;
            }
        }
    }

    .cars {
        width: 90%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .car {
            flex-basis: 90%;
            border: 1px solid $greyDark;
            border-radius: $radius;
            margin-bottom: 20px;
            background-color: $greyDark;

            img {
                width: 100%;

                border-radius: $radius;
            }

            .carInfo {
                padding: 20px;

                h3 {
                    font-size: $sizeXS;
                    color: $greyLight;
                }

                p {
                    font-size: $sizeXXS;
                    text-align: right;
                    color: $greyLight;
                }
            }
        }

    }

    .reservation {
        width: 90%;
        margin: 20px auto;

        h3 {
            text-align: center;
        }
    }


    @media screen and (orientation: landscape) {
        .banner {
            height: auto;
        }
    }

    @media screen and (min-width:map-get($breakpoints, small)) {
        .banner {
            height: 30vh;
        }
    }

    @media screen and (min-width:map-get($breakpoints, medium)) {
        .infoConetnt {

            .content1,
            .content2 {
                ul {

                    li {
                        font-size: $sizeXS;

                    }
                }

                p {
                    font-size: $sizeXS;
                }
            }
        }

        .cars {

            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;

            .car {
                flex-basis: 45%;
                border: 1px solid $greyDark;
                border-radius: $radius;
                margin-bottom: 20px;
                background-color: $greyDark;

                img {
                    width: 100%;
                    height: 200px;
                    cursor: pointer;
                }

                .carInfo {

                    h3 {
                        font-size: $sizeS;

                    }

                    p {
                        font-size: $sizeXS;

                    }
                }
            }

        }

    }


    @media screen and (min-width:map-get($breakpoints, large)) {
        .banner {
            background-image: url("../../assets/images/reservation-page/buick-classic-cars-3431909_1920.jpg");
        }

        .cars {

            .car {
                flex-basis: 33%;

            }

        }
    }

    @media screen and (min-width:map-get($breakpoints, xlarge)) {
        .infoConetnt {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .content1 {
                flex-basis: 100%;
            }

            .content2,
            .content3 {
                flex-basis: 48%;
            }
        }

        .cars {


            .car {

                flex-basis: 24%;


                .carInfo {

                    h3 {
                        font-size: $sizeL;

                    }

                    p {
                        font-size: $sizeS;

                    }
                }
            }

        }
    }
}